.button{
    -fx-border-color: darkcyan;
    -fx-text-fill: white;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
}
.button:hover{
    -fx-border-color: darkgoldenrod;
    -fx-background-color: #ffffff;
    -fx-text-fill: #2F80FF;
}
.button:pressed{
    -fx-border-color: darkred;
    -fx-text-fill: white;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: aqua;

}